


html {
  scroll-behavior: smooth;
}

.horizon{
  border-right: 1px solid #f5f3f5;

}


button{
  border: 1px solid #fff;
}




html,
body {

  font-family: 'Roboto', sans-serif;
  scrollbar-face-color: #5997CA;
  scrollbar-shadow-color: #ffffff;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #5997CA;
  scrollbar-darkshadow-color: #5997CA;
  scrollbar-track-color: #F6F6F6;
  scrollbar-arrow-color: #F6F6F6;
  width: 97%;
  margin: auto;
  background-color: #EEE;
font-size:16px;
color: #666;
text-align:justify;
color: #666;
margin-top: 10px;

}


.header .logo {
    display: inline-block;

    margin-left: 50px;
    height: 100px;
}


.header {
  width: auto;
  background: #efeff0;
  overflow: auto;
}

.header .authorization {

  display: inline-block;
  float: right;
  padding-right: 12px;
  margin-top: 55px;
}




}
.nav {
  padding: 0;
  overflow: auto;
  background-color: #fff;
 width: 100%
}
.nav ul {
  display: inline-block;
  display: -moz-box;
  display: -ms-flexbox;
  float: right;
  overflow: auto;
  margin: 0;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
}

.nav ul li {
  display: inline-block;
  padding: 12.5px 46px;
}

.nav ul .li:hover {
  background: #2e6228;
  color: #fff;
  padding: 12.5px 46px;
}

.nav ul .add {
  width: 257px;
  text-align: -webkit-center;
  color: #fff;
  background: #FF5722;
  margin: 0;
  float: right;
  padding: 12.5px 16px;
}

.no-active {
  float: left;
  width: 20%;
  background-color: #859514;
  color: #fff;
  font-size: 18px;
  overflow: auto;

}

.no-active p {
  text-align: center;
  margin: 12.5px;
}
.no-active p i {
  margin-right: 10px;
}
.no-active label {
  padding: 12.54px;
  width: 50%;
  text-align: center;
  margin: 0;
}
.no-active .filter-active1 {
  float: right;
  background: #a1a1a1;
}
.no-active .filter-no-active1 {
  float: left;
  background-color: #2e6228;
}
.content-filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}

.about-agrolot {
  margin-bottom: 40px;
  background: #fff;
  padding: 40px;
  -webkit-text-size-adjust: 200%; text-align: justify; font-weight: 400;
     line-height: 1.5;

}
.about-agrolot span {
  font-weight: 500;
}



footer {
  width: 100%;
  height: 144px;
}

footer .footer-tel {
  height: 99px;
  background: #2e6228;
  text-align: right;
}
footer .footer-tel .tel-info {
  float: right;
}
footer .footer-tel .tel-info p {
  color: #fff;
  font-size: 15px;
  margin: 10px 15px 0;
}
footer .footer-tel .tel-info .tel {
  font-size: 24px;
  font-weight: 700;
  margin: 0 13px;
  text-align: right;
}
footer .social-networks {
  float: left;
  margin-left: 10px;
}
footer .social-networks img {
  width: 40px;
  display: inline-block;
  margin: 27px 9px;
}
/******* RESPONSIVE */
