@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
html,
body {

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scrollbar-face-color: #5997CA;
  scrollbar-shadow-color: #ffffff;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #5997CA;
  scrollbar-darkshadow-color: #5997CA;
  scrollbar-track-color: #F6F6F6;
  scrollbar-arrow-color: #F6F6F6;
  width: 95%;
  margin: auto;
  background-color: #EEE;

}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #c3c3c3;
}
::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #aaa;
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  border-width: 0;
}
a {
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif !important;
}
.font-style {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.button-style {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
}
hr {
  margin: 0;
}
.style-input {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
}
.header {
  width: 100%;
  height: 145px;
  background: #efeff0;
  overflow: auto;
}
.header .logo {
  display: inline-block;
  width: ;
  margin-left: 50px;
  height: 144px;
}
.header .authorization {
  display: inline-block;
  float: right;
  padding-right: 12px;
  margin-top: 65px;
  max-width: 580px;
}
.header .authorization span {
  width: 66%;
  float: right;
  margin-top: 9px;
  color: #F44336;
  margin-bottom: 10px;
}
.header .authorization div {
  display: inline-block;
  width: 40%;
}
.header .authorization input {
  display: inline-block;
  border-radius: 52px;
  width: 100%;
  height: 41px;
  font-weight: 600;
  font-size: 13px;
  color: #000;
}
.header .authorization button {
  display: inline-block;
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
}
.header .authorization button img {
  width: 10px;
  margin: 2px 4px 2px 2px;
}
.header .authorization .authorization-text {
  display: block;
  float: right;
}
.header .authorization .authorization-text p {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 0;
}
.header .header-user {
  display: inline-block;
  float: right;
  min-width: 246px;
  margin-top: 89px;
  margin-right: 0;
}
.header .header-user div {
  display: inline-block;
}
.header .header-user div img {
  width: 39px;
}
.header .header-user .cabinet-user-name {
  float: right;
  margin-right: 23px;
}
.header .header-user .cabinet-user-name .mini-user-name {
  font-size: 14px;
  font-weight: 600;
}
.header .header-user .cabinet-user-name .mini-user-name span {
  font-weight: 500;
}
.header .header-user .cabinet-user-name p {
  margin: 0;
  font-size: 12px;
  text-align: right;
  font-weight: 600;
}
.header .header-user button {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  width: 100%;
}
@media screen and (min-width: 2000px) {
  .header .header-user {
    margin-right: 11%;
  }
}
.header .language {
  color: #787878;
  position: absolute;
  left: 89%;
  top: 14px;
  margin-left: 9px;
  line-height: 16px;
  padding: 7px 12px;
  white-space: nowrap;
}
.header .language ul {
  margin: 0;
  padding: 0;
  border: 0;
  white-space: nowrap;
  text-align: left;
  font: inherit;
}
.header .language ul li {
  display: inline-block;
  zoom: 1;
  margin: 0;
  padding: 0;
  border: 0;
}
.header .language ul li span {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
.header .language .fer :before {
  content: "|";
  color: #999999;
  padding: 0 .4em 0 .2em;
}
.header .language .fer > *:first-child:before {
  content: " ";
  padding: 0;
}
nav {
  width: 98%;
  padding: 0;
  margin-left: 2%;
  overflow: auto;
  max-height: 61.45px;
  background-color: #fff;
  min-width: 1005px;
}
nav ul {
  display: inline-block;
  display: -moz-box;
  display: -ms-flexbox;
  float: right;
  overflow: auto;
  margin: 0;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
}
nav ul li {
  display: inline-block;
  padding: 12.5px 46px;
}
nav ul .li:hover {
  background: #2e6228;
  color: #fff;
  padding: 12.5px 46px;
}
nav ul .add {
  width: 257px;
  text-align: -webkit-center;
  color: #fff;
  background: #FF5722;
  margin: 0;
  float: right;
  padding: 12.5px 16px;
}
.no-active {
  float: left;
  width: 20%;
  background-color: #859514;
  color: #fff;
  font-size: 18px;
  overflow: auto;
  max-width: 367px;
  min-width: 269px;
}
.no-active p {
  text-align: center;
  margin: 12.5px;
}
.no-active p i {
  margin-right: 10px;
}
.no-active label {
  padding: 12.54px;
  width: 50%;
  text-align: center;
  margin: 0;
}
.no-active .filter-active1 {
  float: right;
  background: #a1a1a1;
}
.no-active .filter-no-active1 {
  float: left;
  background-color: #2e6228;
}
.content-filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
.content {
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  background: #efeff0;
  margin-bottom: 20px;
  min-height: calc(100% - 216px);
  padding-bottom: 144px;
}
.content .left-bar {
  width: 21.5%;
  margin-left: 2%;
  float: left;
  display: inline-block;
  background: #FFF;
  max-width: 367px;
  min-width: 269px;
}
.content .left-bar .filter {
  clear: both;
  margin-bottom: 0;
  padding: 0;
  display: block;
  min-width: -webkit-min-content;
}
.content .left-bar .filter .heading {
  margin-top: 5%;
  margin-left: 7%;
  width: 72%;
}
.content .left-bar .filter .filter-active > .collapsed:after {
  top: 14%;
}
.content .left-bar .filter .production {
  cursor: pointer;
}
.content .left-bar .filter .up {
  width: 10px;
  float: right;
  height: 10px;
  padding: 19px;
  display: inline-block;
  background: url("../images/up.png") no-repeat center;
  cursor: pointer;
}
.content .left-bar .filter .down {
  cursor: pointer;
  width: 10px;
  float: right;
  height: 10px;
  padding: 19px;
  display: inline-block;
  background: url("../images/down.png") no-repeat center;
}
.content .left-bar .filter .filter-options {
  width: 100%;
  margin-top: .60em;
  border: 0;
  border-top: 2px solid #aeb5bb;
  position: relative;
  padding: 0 0 0 14px;
  overflow: hidden;
}
.content .left-bar .filter .filter-options .filter-options-inner {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
}
.content .left-bar .filter .filter-options .filter-options-inner ul {
  list-style: none;
  display: block;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding-left: 14px;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li .checkbox-label {
  min-height: 15px;
  margin-left: 5px;
  margin-top: 4%;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li .disabledLink {
  display: inline-block;
  color: #000;
  vertical-align: middle;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li .disabledLink .filterOption {
  display: inline;
  padding: 0;
  white-space: normal;
  margin-right: 6px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13em;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 600;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li .disabledLink .filtersmall {
  font-size: 12px;
  font-weight: 500;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li .disabledLink .filtersmall:hover {
  color: #2e6228;
  font-weight: 600;
}
.content .left-bar .filter .filter-options .filter-options-inner ul li .disabledLink .filter-active {
  font-size: 14px;
  font-weight: 700;
  color: #2b542c;
}
.content .left-bar .filter .filter-options .filter-options-inner ul .hooded {
  border-bottom: 1px solid #ecf1f5;
  cursor: pointer;
}
.content .left-bar .filter #city {
  max-height: 345px;
}
.sb-scrollbar {
  height: 30px !important;
  background: #a1a1a1;
}
.content .left-bar .filter #city ul {
  padding: 0;
  margin-top: 5%;
  margin-bottom: 0;
}
.content .left-bar .filter #city ul li {
  margin-left: 5px;
}
.content .left-bar .filter #city ul li .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 13%;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.content .left-bar .filter button {
  cursor: pointer;
  border-radius: 58px;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  margin: 4% 26%;
  width: 48%;
}
.right-bar .search-right-block {
  width: 100%;
  display: inline-block;
  margin-bottom: 7px;
}
.right-bar .search-right-block .input-group input {
  width: 260px;
  border-radius: 20px;
  z-index: 0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.right-bar .search-right-block .input-group input:focus, input:active {
  border-color: rgba(46, 98, 40, 0.4);
}
.right-bar .search-right-block #searchSpanForBtn {
  z-index: 1;
  right:0;
  border: none;
  outline: none;
  position:absolute;
  padding-right: 1px;
  height: 100%;
}
.content .search-right-block #searchSpanForBtn:focus, #searchSpanForBtn:active {
  z-index: 1;
  border: none;
  outline: none;
}
.content .search-right-block #searchBtn {
  border: none;
  background: transparent;
}
.content .search-right-block #searchBtn:hover {
  cursor: pointer;
}
.content .right-bar {
  width: 86%;
  display: inline-block;
}
.content .right-bar .back-lot {
  margin-left: 29.5px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #2e6228;
}
.content .right-bar .back-lot span {
  font-size: 18px;
}
.content .right-bar .back-lot .fa {
  margin-right: 6px;
}
.content .right-bar .hr-back-lot {
  border-top: 2px solid #aeb5bb;
}
.content .right-bar .lot {
  background: #fff;
  width: 100%;
  margin: 15.4px 0 20px 15.4px;
  overflow: auto;
  min-width: 724px;
}
.content .right-bar .lot .lot-avatar {
  width: 104px;
  margin: 2% 2% 2% 4%;
  display: inline-block;
}
.content .right-bar .lot .lot-avatar img {
  width: 104px;
}
.content .right-bar .lot-title {
  float: right;
  width: 82%;
}
.content .right-bar .lot-title h3 {
  margin: 2% 0 0 0;
  font-weight: 600;
}
.content .right-bar .lot-title hr {
  margin: 0;
}
.content .right-bar .lot-title .quickly {
  margin-top: 5px;
}
.content .right-bar .lot-title .quickly-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #21bd23;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: 0.3%;
}
.content .right-bar .lot-title .quickly p {
  display: inline-block;
  margin: 0;
  font-size: 11px;
  color: #bcbcbe;
}
.content .right-bar .lot-date {
  width: 20%;
  float: right;
  margin-right: 4%;
  color: #7a7a82;
  margin-top: 0.5%;
  line-height: 1;
}
.content .right-bar .lot-date p {
  margin-top: 0;
  font-size: 11px;
  margin-bottom: 0;
  text-align: right;
}
.content .right-bar .lot .lot-left-bar {
  display: inline-block;
  width: 25%;
  margin-left: 3%;
}
.content .right-bar .lot .lot-left-bar .lot-price .price {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}
.content .right-bar .lot .lot-left-bar .lot-price .size {
  font-weight: 600;
  margin: 0;
  font-size: 17px;
}
.content .right-bar .lot .lot-left-bar .conditions {
  margin-top: 3.5%;
  font-size: 15px;
}
.content .right-bar .lot .lot-left-bar .location {
  margin-top: 0px;
  margin-bottom: 8%;
  margin-left: 1%;
}
.content .right-bar .lot .lot-left-bar .location p {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  width: 76%;
  margin-top: 14px;
}
.content .right-bar .lot .lot-left-bar .location img {
  width: 15px;
  display: inline-block;
  float: left;
  margin-right: 11px;
  margin-top: 8px;
  margin-bottom: 0;
  height: 23px;
}
.content .right-bar .lot .lot-left-bar .user .user-name {
  margin-top: 3%;
}
.content .right-bar .lot .lot-left-bar .user .user-name img {
  display: inline-block;
  margin-bottom: 0;
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  width: 25px;
}
.content .right-bar .lot .lot-left-bar .user .user-name p {
  display: inline-block;
  width: 85%;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.content .right-bar .lot .lot-left-bar .user .user-info p {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}
.content .right-bar .lot .lot-left-bar .user button {
  border-radius: 19px;
  margin-top: 4%;
  background: #2f6229;
  font-size: 14px;
  padding: 11px 19px;
}
.content .right-bar .lot .lot-right-bar {
  display: inline-block;
  float: right;
  width: 70%;
}
.content .right-bar .lot .lot-right-bar .gallery-corn {
  top: -30px;
  left: 1%;
  width: 99%;
}
.content .right-bar .lot .lot-right-bar .gallery-corn img {
  padding: 0 1%;
}
.content .right-bar .lot .lot-right-bar .lot-text {
  margin-top: 1.5%;
  margin-left: 1%;
  font-size: 13px;
  line-height: 1;
}
.content .right-bar .lot .lot-right-bar .lot-text p {
  width: 92%;
  font-size: 14.5px;
  line-height: 21px;
}
.content .right-bar .lot .lot-right-bar .offer {
  font-size: 22px;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 30px 8px 0;
}
.content .right-bar .lot .lot-right-bar .offer p {
  margin: 0 29%;
}
.content .right-bar .lot .lot-right-bar .offer input,
.content .right-bar .lot .lot-right-bar .offer textarea {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
}
.content .right-bar .lot button {
  cursor: pointer;
  border-radius: 58px;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  margin: 4% 5% 3% 74%;
  float: right;
  min-width: 153px;
}
.content .right-bar .lot .lot-right-bar .offer #sendPriceButton {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  width: 180px
}
.content .right-bar .lot .lot-right-bar #editLotBtn {
  margin-top: -61px;
  margin-bottom: 20px;
  margin-right: 260px;
  width: 180px;
  background: #a1a1a1;
}
.content .right-bar .lot .lot-right-bar #updateLotBtn {
  margin-top: -61px;
  margin-bottom: 20px;
  margin-right: 450px;
  width: 180px;
  background: #2e6228;
}
@media screen and (max-width: 600px) {
  .content .right-bar .lot {
    margin-left: 4.5px;
  }
}
.content .right-bar #lot-mini {
  min-width: 1200px;
}
.content .right-bar .lot-mini {
  display: inline-block;
  background: #fff;
  width: 99%;
  margin: 15.4px 0 0 15.4px;
}
.content .right-bar .lot-mini .logo-lot {
  display: inline-block;
  width: 18%;
}
.content .right-bar .lot-mini .logo-lot img {
  margin: 14% 14%;
  width: 105px;
}
.content .right-bar .lot-mini .lot-mini-content {
  display: inline-block;
  float: right;
  width: 82%;
  margin: 10px 0px;
}
.content .right-bar .lot-mini .lot-mini-content p {
  margin: 0;
  font-size: 14px;
}
.content .right-bar .lot-mini .lot-mini-content .title {
  display: inline-block;
  width: 70%;
}
.content .right-bar .lot-mini .lot-mini-content .title .way {
  color: #9e9a9a;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.content .right-bar .lot-mini .lot-mini-content .lot-name {
  color: #377330;
  width: 100%;
  font-size: 26px;
  font-weight: 600;
  display: inline-block;
  margin-top: 3px;
}
.content .right-bar .lot-mini .lot-mini-content .size {
  font-weight: 600;
  font-size: 24px;
  margin-top: 4px;
}
.content .right-bar .lot-mini .lot-mini-content .lot-price {
  display: inline-block;
  float: right;
  width: 30%;
}
.content .right-bar .lot-mini .lot-mini-content .lot-price p {
  height: 36px;
}
.content .right-bar .lot-mini .lot-mini-content .lot-price .price {
  font-size: 29px;
  font-weight: 600;
  margin-right: 20px;
  text-align: right;
}
@media screen and (max-width: 1125px) {
  .content .right-bar .lot-mini .lot-mini-content .lot-price > .price {
    font-size: 25px;
  }
  .content .right-bar .lot-mini .lot-mini-content .lot-name {
    font-size: 24px;
  }
}
.content .right-bar .lot-mini .lot-mini-content .conditions .city {
  font-weight: 700;
}
.content .right-bar .lot-mini .lot-mini-content .conditions .conditions-bold {
  display: inline-block;
  font-weight: 700;
}
.content .right-bar .lot-mini .lot-mini-content .conditions .conditions-text {
  display: inline-block;
}
.content .right-bar .lot-mini .lot-mini-content .conditions .lot-button {
  float: right;
  display: inline-block;
  margin-right: 10px;
}
.content .right-bar .lot-mini .lot-mini-content .conditions .condition-wrapper {
  display: inline-block;
  margin-top: 23px;
}
.content .right-bar .lot-mini .lot-mini-content .lot-date {
  display: inline-block;
  color: #7a7a82;
  width: 100%;
  float: left;
  margin-top: 9px;
  line-height: 1;
}
.content .right-bar .lot-mini .lot-mini-content .lot-date p {
  margin-top: 0;
  font-size: 12px;
  margin-bottom: 0;
  text-align: left;
}
.content .right-bar .lot-mini button {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  width: 127px;
  margin: 1% 8.2px 0 0;
  display: inline-block;
  float: right;
}
.content .right-bar .lot-mini .edit {
  margin-right: 8.2px;
}
@media screen and (max-width: 1350px) {
  .content .right-bar .lot-title {
    width: 69%;
  }
  .content .right-bar .lot .lot-right-bar .gallery-corn img {
    /*width: 100px;*/
  }
  .content .right-bar .lot .lot-right-bar .offer p {
    margin: 0 1%;
  }
}
.content .right-bar .new-lot {
  width: 100%;
  margin: 0;
}
.content .right-bar .new-lot form {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.content .right-bar .new-lot h3,
.content .right-bar .new-lot h4 {
  width: 73.5%;
  margin: 1.5% auto;
  font-weight: 600;
  color: #32384e;
}
.content .right-bar .new-lot h4 {
  margin-left: 0;
  margin-top: 36px;
}
.content .right-bar .new-lot .new-lot-content {
  overflow: auto;
  width: 80%;
  margin: 0 auto;
}
.content .right-bar .new-lot .new-lot-content .nl {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
  width: 92%;
  padding: 1.5%;
  margin: 2% 4% 1%;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select {
  display: inline-block;
  padding: 0;
  height: 400px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .wrapper-buy-sale {
  height: 42px;
  width: 82%;
  margin-left: 10%;
  margin-top: 4px;
  margin-bottom: 19.2px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .wrapper-buy-sale span {
  float: left;
  font-size: 14px;
  color: #3f4254;
  margin: 10px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .wrapper-buy-sale .buy-sale {
  width: 50%;
  float: right;
  display: inline-block;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .wrapper-buy-sale .buy-sale label {
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 8px 0;
  cursor: pointer;
  font-size: 14px;
  color: #3f4254;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .wrapper-buy-sale .buy-sale .buy {
  background: #869615;
  border-left: 1px solid #869615;
  border-top: 1px solid #869615;
  border-bottom: 1px solid #869615;
  color: #fff;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .wrapper-buy-sale .buy-sale .sale {
  border: 1px solid #c3c3c3;
  background: #f9fafc;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-input {
  float: left;
  width: 66%;
  min-width: 285px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-input .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 11%;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-input .treaty {
  width: 90%;
  margin-left: 10%;
  padding: 10.4px 0 22.7px;
  font-size: 16px;
  font-weight: 700;
  color: #3f4254;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-input input {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
  padding: 11px 14.4px;
  font-size: 16px;
  margin: 4px 6% 21px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-input p {
  padding: 12px;
  font-size: 16px;
  margin: 4% 16px 23px;
  color: #3f4254;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-input .error span {
  margin: 0 28px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-price {
  min-width: 144px;
}
@media screen and (max-width: 850px) {
  .content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-price {
    width: 144px !important;
  }
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection {
  float: right;
  padding: 0;
  width: 66%;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .cs-select > span::after {
  content: ' ';
  left: 56%;
  margin-top: 11px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .cs-select {
  left: 58%;
  margin: 4px 0 18px 3.5px;
  height: 42px;
  width: 75%;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection span {
  height: 100%;
  font-size: 14px;
  padding: 7%;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .quantity-day {
  display: inline-block;
  width: 76%;
  margin: 4px 0 17px 2%;
  height: 42px;
  font-size: 14px;
  padding-left: 7%;
  font-weight: 600;
  color: #3f426a;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .cs-options {
  width: 75%;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch {
  width: 76%;
  margin: 9px 0 15px 0px;
  height: 42px;
  cursor: pointer;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .immediately {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 4% 12%;
  color: #31394c;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch label {
  margin-left: 18%;
  margin-top: 4%;
  display: inline-block;
  padding-left: 26px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .radio:not(checked) + label:before {
  top: 3px;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .radio:not(checked) + label:after {
  top: 5.25px;
  left: 3.531px;
}
@media screen and (min-width: 1060px) and (max-width: 1340px) {
  .content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .toggle-bg {
    left: 0;
  }
  .content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .immediately {
    margin-left: 0;
    margin-top: 7%;
  }
}
@media screen and (max-width: 1059px) {
  .content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .toggle-bg {
    left: 0;
  }
  .content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch .immediately {
    font-size: 12px;
    margin-left: 0;
    margin-top: 9%;
  }
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch:checked ~ .switch {
  background-color: #879514;
}
.content .right-bar .new-lot .new-lot-content .new-lot-select .new-lot-selection .wrapper-switch:checked ~ .switch:after {
  left: 50%;
}
.content .right-bar .new-lot .new-lot-content .left {
  float: left;
}
.content .right-bar .new-lot .new-lot-content .right {
  float: right;
}
.content .right-bar .new-lot .new-lot-content textarea {
  width: 100%;
  border: 0;
  border-radius: 17px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 1.5%;
}
.content .right-bar .new-lot .new-lot-content .lot-foto {
  background: #f9fafc;
  width: 92%;
  margin: 3% 4% 2%;
  padding: 17px 0;
  border-radius: 26px;
}
.content .right-bar .new-lot .new-lot-content .lot-foto .lot-foto-add {
  font-size: 17px;
  color: #33384c;
  font-weight: 700;
}
.content .right-bar .new-lot .new-lot-content .lot-foto .lot-foto-add img {
  display: block;
  margin: 0 auto;
}
.content .right-bar .new-lot .new-lot-content .lot-foto .lot-foto-add p {
  display: block;
  font-size: 13px;
  text-align: center;
  color: #33384c;
  margin: 0;
}
.content .right-bar .new-lot .new-lot-content .lot-wrapper-select {
  width: 92%;
  margin: 0 4%;
}
.content .right-bar .new-lot .new-lot-content .btn-save-lot {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  float: right;
  margin-right: 40px;
  margin-bottom: 3%;
}
.content .new-company-wrepper {
  width: 70% !important;
  margin: 20px auto;
  max-width: 1056px;
  float: none !important;
  display: block !important;
}
.content .company-location {
  float: left;
  padding: 0;
  width: 50%;
}
.content .company-location .cs-select {
  width: 87%;
  margin-top: 2%;
  margin-left: 0;
}
.content .company-location .cs-options {
  width: 87% !important;
}
.content .company-location .cs-select > span::after {
  left: 77%;
}
.content .ncl {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
  width: 87%;
  padding: 3.17%;
  margin: 2% 0 6%;
}
.content .company-tel {
  float: right;
  padding: 0;
  width: 50%;
}
.content .company-tel .ncl {
  width: 100%;
}
.content .user-cabinet {
  background: #fff;
  width: 100%;
  margin: 0;
  overflow: auto;
  min-width: 874px;
}
.content .user-cabinet hr {
  margin: 0;
}
.content .user-cabinet h3 {
  font-weight: 600;
  margin-top: 1.6%;
  margin-left: 3%;
  margin-bottom: 1.5%;
}
.content .user-cabinet-content .user {
  margin: 0 0 0 4.6%;
  height: 141px;
  position: relative;
}
.content .user-cabinet-content .user .name-user {
  display: inline-block;
  margin: 3% 3% 0;
  width: 16%;
  position: absolute;
  left: 135px;
}
.content .user-cabinet-content .user .name-user p {
  font-size: 14px;
  margin-left: 4%;
}
.content .user-cabinet-content .user img {
  position: relative;
  top: -39px;
  width: 119px;
}
.content .user-cabinet-content .tabs_block {
  width: 92%;
  margin: 0 3.5%;
}
.content .user-cabinet-content .tabs-lot {
  background: #a1a1a1;
  border-radius: 24px;
  margin-right: 1.5%;
  cursor: pointer;
}
.content .user-cabinet-content .tabs-set {
  background: #a1a1a1;
  border-radius: 24px;
  margin-right: 1.5%;
  cursor: pointer;
}
.content .user-cabinet-content .tabs-sms {
  background: #a1a1a1;
  border-radius: 24px;
  margin-right: 1.5%;
  cursor: pointer;
}
.content .user-cabinet-content .nav-tabs {
  border-bottom: 0;
}
.content .user-cabinet-content .nav-tabs li {
  width: 156px;
  text-align: center;
}
.content .user-cabinet-content .nav-tabs > li.active {
  background: #2f6229;
}
.content .user-cabinet-content .nav-tabs > li.active > a {
  border-color: #42bb48;
  border-bottom-color: transparent;
}
.content .user-cabinet-content .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
}
.content .user-cabinet-content .nav > li :hover {
  color: #fff;
}
.content .user-cabinet-content .nav:before {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.content .user-cabinet-content .nav:after {
  clear: both;
  display: table;
  content: " ";
}
.content .user-cabinet-content .tab-content {
  background: #f9fafb;
  border-radius: 18px;
  margin-bottom: 6%;
  margin-top: 20px;
}
.content .user-cabinet-content .tab-content .subnav2 {
  height: 50px;
  width: 97.5%;
  margin: 0 0 0 2.5%;
  padding-top: 17px;
  position: relative;
  text-align: left;
}
.content .user-cabinet-content .tab-content .subnav2 form {
  padding-bottom: 7px;
  position: relative;
  float: right;
}
.content .user-cabinet-content .tab-content .subnav2 form .button {
  height: 30px;
  top: 6px;
  right: 14%;
  float: right;
  width: 25px;
  border: 0;
  border-left: none;
  overflow: hidden;
  position: relative;
  background: url("../images/search.png") no-repeat center;
}
.content .user-cabinet-content .tab-content .subnav2 form .clear-input-button {
  top: 9px;
  right: 34px;
  position: absolute;
  color: #0098d0;
  display: none;
}
.content .user-cabinet-content .tab-content .subnav2 ul {
  width: 50%;
  margin-top: 14px;
  padding-left: 0;
  line-height: 20px;
  margin-left: 0;
  font-size: 17px;
  float: left;
}
.content .user-cabinet-content .tab-content .subnav2 ul li:first-child {
  padding-left: 4px;
}
.content .user-cabinet-content .tab-content .subnav2 ul li.selected {
  color: #656565;
}
.content .user-cabinet-content .tab-content .subnav2 ul li {
  display: inline-block;
  position: relative;
}
.content .user-cabinet-content .tab-content .subnav2 ul li .fbold {
  font-weight: bold;
}
.content .user-cabinet-content .tab-content .subnav2 .backsms {
  width: 50%;
  margin-top: 14px;
  padding-left: 24px;
  line-height: 20px;
  margin-left: 0;
  font-size: 17px;
  float: left;
  font-weight: bold;
}
.content .user-cabinet-content .tab-content .subnav2 .light {
  width: 90%;
  background: #fff;
  border: 0;
  border-radius: 23px;
  padding: 13px 42px;
  float: right;
  line-height: 18px;
  border-right: none;
}
.content .user-cabinet-content .tab-content .lot-list {
  margin-top: 0;
  padding-bottom: 20px;
}
.content .user-cabinet-content .tab-content .lot-list .lot-mini {
  width: 96.5%;
  margin: 15.4px 1.75% 0;
}
.content .user-cabinet-content .tab-content .user-sms {
  padding-bottom: 4px;
  width: 100%;
  max-height: 656px;
  overflow: auto;
}
.content .user-cabinet-content .tab-content .user-sms .subnav2 {
  height: 66px;
}
.content .user-cabinet-content .tab-content .user-sms .sms {
  background: #fff;
  width: 95%;
  margin: 3.5% auto;
  margin-bottom: 0;
}
.content .user-cabinet-content .tab-content .user-sms .lot-name {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  margin: 1.1% 0 0 0.5%;
}
.content .user-cabinet-content .tab-content .user-sms .new-sms {
  color: #2f6229;
  font-size: 20px;
}
.content .user-cabinet-content .tab-content .user-sms .quickly-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #236d04;
  border-radius: 5px;
  margin-left: 2.2%;
  margin-bottom: 0.3%;
}
.content .user-cabinet-content .tab-content .user-sms .lot-date {
  font-size: 17px;
  margin-right: 2.2%;
  margin-top: 2%;
}
.content .user-cabinet-content .tab-content .user-sms .lot-date p {
  font-size: 13px;
}
.content .user-cabinet-content .tab-content .user-sms hr {
  margin-top: 2%;
}
.content .user-cabinet-content .tab-content .user-sms .sender {
  font-size: 19px;
  font-weight: 600;
  margin: 0 2.5%;
}
.content .user-cabinet-content .tab-content .user-sms .text-sms {
  margin: 0.9% 2.3% 6%;
  font-size: 15px;
  display: inline-block;
}
.content .user-cabinet-content .tab-content .user-sms .sms-mini {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  float: right;
  margin: 27px 2% 10px;
}
.content .user-cabinet-content .tab-content .section h5 {
  padding-top: 13px;
  margin: 0 3.6% 10px;
}
.content .user-cabinet-content .tab-content .section .foto {
  display: inline-block;
  width: 20%;
  float: left;
}
.content .user-cabinet-content .tab-content .section .foto img {
  margin: 0 27%;
}
.content .user-cabinet-content .tab-content .section .foto p {
  font-size: 11px;
  text-align: center;
  width: 57%;
  margin: 0 auto;
  margin-top: 9px;
}
.content .user-cabinet-content .tab-content .section .input1 {
  display: inline-block;
  width: 30%;
  margin-left: 2%;
}
.content .user-cabinet-content .tab-content .section .input2 {
  display: inline-block;
  width: 30%;
  float: right;
  margin-right: 13%;
}
.content .user-cabinet-content .tab-content .section .input2 span {
  color: #2f6229;
}
.content .user-cabinet-content .tab-content .section .input3 {
  width: 65%;
  margin-left: 22%;
}
.content .user-cabinet-content .tab-content .section .no-foto {
  margin-left: 22%;
}
.content .user-cabinet-content .tab-content .section input {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
  background-color: #fff;
  padding: 10px;
}
.content .user-cabinet-content .tab-content .section p {
  font-size: 11px;
  margin-left: 10px;
}
.content .user-cabinet-content .tab-content .button-settings {
  width: 15%;
  margin-left: 81%;
  margin-bottom: 35px;
  margin-top: 27px;
}
.content .user-cabinet-content .tab-content .button-settings button {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  height: 40px;
  width: 142px;
  display: inline-block;
  margin-bottom: 10px;
}
.content .user-cabinet-content .tab-content .button-settings .save {
  margin-top: 0;
  background-color: #2f6229;
}
/******* MAIN BANNERS */
.main-banners {
	margin-top: 15px;
	background-color: #fff;
	padding: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-banners-item {
    float: left;
    width: 33.33%;
}
.main-banners-item img {
	display: block;
	width: auto;
    margin: 0 auto;
}
.chekin {
  width: 400px;
  background: #fff;
  margin: 26px auto;
  border-radius: 11px;
}
.chekin h3 {
  font-weight: 600;
  padding: 13px 25% 9px;
  margin-bottom: 1.5%;
  color: #32384e;
}
.chekin .chekin-content {
  width: 86%;
  margin: 14px auto;
}
.chekin .chekin-content form {
  width: 100%;
  max-width: none;
}
.chekin .chekin-content .error-message {
  margin: 0 10px;
}
.chekin .chekin-content input {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 4% 9%;
}
.chekin .chekin-content .email input {
  margin: 0;
}
.chekin .chekin-content .email:before {
  content: "\f007";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 11px;
  top: 35px;
  color: rgba(249, 250, 252, 0);
  background: url("../images/man-user.png") center no-repeat;
}
.chekin .chekin-content .password:before {
  content: "\f007";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 11px;
  top: 35px;
  color: rgba(249, 250, 252, 0);
  background: url("../images/padlock.png") center no-repeat;
}
.chekin button {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  margin: 16px 25% 28px;
  width: 162px;
}
.activities {
  width: 47%;
  margin: 2% 0 2% 2.7%;
  display: inline-block;
  vertical-align: top;
}
span {
  font-size: 16px;
  font-weight: 600;
}
.wrapper {
  margin-top: 8px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.wrapper div {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.fieldset {
  margin-right: 3%;
}
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
  font-size: 14px;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 22px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #CDD1DA;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5.22px;
  left: 3.5px;
  width: 7px;
  height: 7px;
  background: #2f6229;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
div.cs-skin-elastic {
  background: transparent;
  font-size: 1.0em;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 30em) {
  div.cs-skin-elastic {
    font-size: 1em;
  }
}
.cs-skin-elastic span {
  z-index: 100;
}
.cs-skin-elastic > span::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url("../images/down.png") center no-repeat;
  width: 20px;
  height: 20px;
}
.cs-skin-elastic .cs-options {
  overflow: visible;
  background: transparent;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}
.cs-options li {
  background-color: #f9fafc;
  color: #585a79;
}
.cs-skin-elastic.cs-active .cs-options {
  pointer-events: auto;
}
.cs-skin-elastic .cs-options > ul::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  background: #fff;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.cs-skin-elastic.cs-active .cs-options > ul::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
}
.cs-skin-elastic .cs-options ul li {
  opacity: 0;
  -webkit-transform: translate3d(0, -25px, 0);
  transform: translate3d(0, -25px, 0);
  -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}
.cs-skin-elastic.cs-active .cs-options ul li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}
.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
  color: #1e4c4a;
}
.cs-skin-elastic .cs-options .cs-selected span::after {
  content: '';
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.da {
  display: none;
}
div.cs-select {
  width: 82%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
  margin-top: 4px;
  text-align: left;
  z-index: 100;
  height: 42px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-bottom: 19.2px;
  -ms-user-select: none;
  user-select: none;
}
div.cs-select .error-message {
  margin: 0 3px !important;
}
div.cs-select:focus {
  outline: none;
}
.cs-select select {
  display: none;
}
.cs-select span {
  border: 1px solid #c3c3c3;
  position: static;
  width: 100%;
  padding: 9.7px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em;
}
.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cs-select > span::after {
  content: ' ';
  left: 81%;
  margin-top: 11px;
}
.cs-select .cs-selected span::after {
  content: ' ';
  margin-left: 1em;
}
.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
/* Options */
.cs-select .cs-options {
  position: absolute;
  width: 82%;
  z-index: 1;
  background: #fff;
  visibility: hidden;
  overflow: auto;
  max-height: 150px;
}
.cs-select.cs-active .cs-options {
  visibility: visible;
  max-height: 204px;
}
.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.cs-select ul span {
  padding: 1em;
}
.cs-select ul li.cs-focus span {
  background-color: #ddd;
}
/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}
.cs-select li.cs-optgroup > span {
  cursor: default;
}
.cs-placeholder {
  background-color: #f9fafc;
  border-color: #c6c6c6;
  color: #3f4254;
}
.slider-content {
  width: 100%;
  border-bottom: 2px solid #aeb5bb;
  padding-bottom: 10%;
}
.slider-content .slider-tittle {
  display: block;
}
.slider-content .slider-mark {
  display: inline-block;
  margin: 0 91px 0 14px;
  font-size: 11px;
  color: #c5c8d1;
}
.slider-content .input {
  width: 26%;
  margin: 10px 18px;
  border-radius: 5px;
  border: 1px solid #efeff1;
  text-align: center;
  padding: 2.5% 0%;
}
.slider-style {
  width: 74%;
  height: 6px;
  background: #ddd;
  margin-left: 18px;
  margin-top: 10px;
}
.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 13px;
  background: #fff;
  border-color: #ddd;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
.ui-slider-horizontal {
  height: 6px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget-content {
  border: 1px solid #D4D4D4;
  background: #fff;
}
.ui-widget-header {
  border: 1px solid #D4D4D4;
  background: #306328;
}
.ui-corner-all {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.user-sms-dialog {
  max-height: none !important;
}
.sms-dialog {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 461px;
  overflow: auto;
}
.sms-dialog .sms-for-you {
  margin: 1% 0 0;
  width: 45%;
}
.sms-dialog .sms-for-you .sms-text-addresser {
  margin-left: 20px;
  background: #f2f2f2;
  font-size: 15px;
  line-height: 19px;
  padding: 12px 18px;
  border-radius: 20px;
  color: #555;
}
.sms-dialog .sms-from-you {
  margin: 1% 0 1% 55%;
  width: 45%;
}
.sms-dialog .sms-from-you .sms-text-your {
  margin-right: 20px;
  background: #cfe7ff;
  font-size: 15px;
  line-height: 19px;
  padding: 12px 18px;
  border-radius: 20px;
  color: #555;
}
.sms-dialog .sms-dialog-content span {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}
.sms-dialog .sms-dialog-content .sms-date {
  width: 30%;
}
.sms-dialog .sms-dialog-content .text {
  margin: 10px 0 10px;
}
.text-sms-input textarea {
  display: inline-block;
  width: 73%;
  border: 0;
  border-radius: 17px;
  font-size: 13px;
  font-weight: 700;
  margin: 3% 2.5%;
  background: #f9fafc;
  padding: 2%;
}
.button-sms {
  display: inline-block;
  width: 22%;
  float: right;
  margin-top: 27px;
}
.button-sms button {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  width: 170px;
  height: 44px;
  margin-top: 11px;
}
.button-sms .send {
  margin-top: 0;
  background-color: #2f6229;
}
.error input {
  border: 1px solid #f44336 !important;
  margin-bottom: 0 !important;
}
.error textarea {
  border: 1px solid #f44336 !important;
}
.error span {
  margin: 0 39px;
  color: #F44336;
}
.error-message {
  color: #F44336;
  margin: 0 39px;
}
.right-bar-mini-company {
  padding: 15.4px 0 0 15.4px;
}
@media screen and (min-width: 1900px) {
  .right-bar-mini-company {
    padding: 15.4px 0 0 5.4px!important;
  }
  .right-bar-mini-company .mini-company {
    width: 23.8%;
  }
}
.all-mini-companies {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mini-company {
  background: #fff;
  margin: 0 11.4px 12.4px 0;
  text-decoration: none;
  color: #292b2c !important;
  padding-bottom: 23px;
}
.mini-company:link, .mini-company:visited, .mini-company:hover, .mini-company:focus, .mini-company:active {
  text-decoration: none;
  color: #292b2c;
}
.mini-company .logo-company {
  display: block;
  margin: 11px auto;
  padding-top: 12px;
  width: 104px;
}
.mini-company .info-company {
  height: 100px;
}
.mini-company .name-company {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
  width: 85%;
  text-align: center;
  color: #2e6228;
}
.mini-company .location-company {
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  height: 42px;
}
.mini-company .rating {
  width: 78px;
  margin: 0 auto;
}
.mini-company .rating .reviews {
  min-width: 90px;
  margin-left: -6px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 23px;
}
@media screen and (max-width: 1280px) and (min-width: 1254px) {
  .mini-company {
    width: 23%;
  }
}
@media screen and (max-width: 1255px) and (min-width: 1065px) {
  .mini-company {
    width: 31.5%;
  }
  .mini-company .info-company {
    height: 79px;
  }
}
@media screen and (max-width: 1064px) {
  .mini-company {
    width: 31.3%;
  }
}
.company {
  background: #fff;
  padding:15px;
}
.company-info {
  width: 92%;
  margin: 0px auto;
  height: 130px;
}
.company-info img {
  display: inline-block;
  float: left;
  max-height: 70px;
  margin-top: 1.8%;
  max-width: 5%;
}
.company-info .info {
  display: inline-block;
  width: 78%;
  margin-left: 15px;
}
.company-info .info .name-company {
  color: #32394d;
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}
.company-info th {
  width: 61px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  color: #acaa9d;
}
.company-info tr,
.company-info td {
  vertical-align: text-bottom;
}
.company-info p {
  color: #5b6171;
  margin: 0;
  margin-left: 40px;
  display: block;
}
#divForEditCompanyBtn {
  margin: auto;
  width: 92%;
  margin-bottom: 30px;
  margin-top: -15px
}
.company #editCompanyBtn {
  width: auto;
  background: #a1a1a1;
}
.about-company {
  width: 92%;
  text-align: justify;
  margin: 10px auto 30px auto;
}
.about-company p {
  color: #292b2c;
}
.tabs-and-prices {
  position: relative;
  width: 92%;
  margin: auto;
}
.tabs-and-prices #createBuyTable {
  width: auto;
}
.tabs-and-prices #createSellTable {
  width: auto;
}
.button-style:hover {
  background: #869615;
}
.price-table {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  table-layout: fixed;
}
.price-table .fa:hover {
  color: #f44336;
  cursor: pointer;
}
.price-table .fa-lg {
  display: none;
  vertical-align: top;
  margin-top: 8px;
}
.price-table caption {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #306328;
  margin: 0 auto;
  caption-side: top;
}
.price-table caption h2 {
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.price-table caption button {
  float: right;
  display: inline-block;
  width: 145px;
}
.price-table caption .add-port {
  float: left;
  display: inline-block;
}
.price-table caption .add-port .create-port {
  width: 210px;
}
.price-table caption .add-culture {
  display: inline-block;
  float: left;
}
.price-table caption .add-culture .create-culture {
  width: 196px;
  margin-left: 10px;
}
.price-table thead {
  border-bottom: 2px solid #ecf1f5;
  background: #f9fafb;
}
.price-table th {
  text-align: left;
  padding: 10px;
  vertical-align: inherit;
}
.price-table tr {
  display: table-row;
  vertical-align: inherit;
  height: 36px;
}
.price-table .price-table-content {
  background: #f9fafb;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.price-table .price-table-content tr {
  border-bottom: 1px solid #ecf1f5;
  height: 1px !important;
}
.price-table .price-table-content td {
  padding: 15px 10px;
  vertical-align: top;
}
.price-table .price-table-content td .text-table {
  color: #306328;
  font-weight: bolder;
  display: inline-block;
}
.price-table .price-table-content td textarea {
  width: 75%;
  display: inline-block;
}
.background-price-table {
  width: 100%;
  margin: 15.4px 0 20px 15.4px;
  overflow: auto;
  padding: 0 36px;
  padding-bottom: 20px;
  background: #fff;
}
.background-price-table .title-price {
  padding-top: 4px;
}
.background-price-table .title-price h3 {
  text-align: center;
  margin: 16px 0;
  font-weight: 700;
}
.background-price-table .wrapper-price-table {
  width: 100%;
  margin: 0 auto;
}
.background-price-table .wrapper-price-table h2 {
  color: #292b2c;
}
.background-price-table .wrapper-price-table button {
  width: 135px;
  float: right;
  margin: 15px 0 0;
}
.adap-no-filter {
  width: 98% !important;
  margin: 15.4px auto 15.4px 2%;
}
.about-agrolot {
  margin: 0px;
  background: #fff;
  padding: 20px;
}
.about-agrolot span {
  font-weight: 500;
}
h3 {
  font-weight: 700;
  color: #2e6228;
}
.main-content {
  background: #fff;
  margin-top: 15.4px;
  padding: 21px 20px 0;
  padding-bottom: 20px;
}
.main-content .section {
  padding: 10px 20px;
  display: flex;
}
.main-content .section .img {
  display: inline-block;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
}
.main-content .section div {
  display: inline-block;
  width: 68%;
}
.wrapper_traders_start {
  width: 100%;
  margin: 15.4px 15.4px;
}
.wrapper_traders_start .selected_filter .сhoice {
  color: #2e6228;
  font-weight: 600;
}
.wrapper_traders_start .selected_filter p,
.wrapper_traders_start .selected_filter div {
  display: inline-block;
  margin-bottom: 0;
}
.wrapper_traders_start .selected_filter div {
  margin: 0 1px;
}
.wrapper_traders_start .main-content {
  width: 100%;
}
.wrapper_traders_start h4 {
  margin: 12.4px 0 6.4px;
  color: #2e6228;
  font-weight: 600;
}
.wrapper_traders_start .wrapper-mini-culture {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.wrapper_traders_start .wrapper-mini-culture .mini-culture {
  display: inline-block;
  width: 23%;
  margin-bottom: 15.4px;
  background: #fff;
  margin-right: 15.4px;
  min-width: 160px;
  cursor: pointer;
}
.wrapper_traders_start .wrapper-mini-culture .mini-culture p {
  margin-bottom: 8px;
}
.wrapper_traders_start .wrapper-mini-culture .mini-culture .logo {
  display: block;
  width: 126px;
  margin: 0 auto;
  height: 126px;
  margin-top: 5px;
}
.wrapper_traders_start .wrapper-mini-culture .mini-culture .name {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
  width: 85%;
  text-align: center;
  color: #2e6228;
}
.wrapper_traders_start .wrapper-mini-culture .mini-culture .grade {
  height: 21px;
  font-size: 14px;
  text-align: center;
  color: #2e6228;
}
.wrapper_traders_start .wrapper-mini-culture .mini-culture .price {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.password_recovery {
  width: 726px;
  background: #fff;
  margin: 26px auto;
  border-radius: 11px;
  padding-bottom: 20px;
}
.password_recovery h3 {
  font-weight: 600;
  padding: 13px 0 9px 5px;
  margin-bottom: 0.5%;
  color: #32384e;
  text-align: center;
}
.password_recovery p {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.password_recovery input {
  border: 0;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 700;
  margin: 1% 0;
  background: #f9fafc;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 4% 9%;
}
.password_recovery .email {
  width: 60%;
  margin: 0 auto 10px;
}
.password_recovery button {
  cursor: pointer;
  border-radius: 58px;
  width: 18%;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  width: 162px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
footer {
  width: 100%;
  height: 144px;
  margin-top: -144px;
}
footer .footer-info {
  background-color: #ffffff;
  height: 45px;
}
footer .footer-info ul {
  float: right;
  margin: 0;
}
footer .footer-info ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
footer .footer-tel {
  height: 99px;
  background: #2e6228;
  text-align: right;
}
footer .footer-tel .tel-info {
  float: right;
}
footer .footer-tel .tel-info p {
  color: #fff;
  font-size: 15px;
  margin: 10px 15px 0;
}
footer .footer-tel .tel-info .tel {
  font-size: 24px;
  font-weight: 700;
  margin: 0 13px;
  text-align: right;
}
footer .social-networks {
  float: left;
  margin-left: 10px;
}
footer .social-networks img {
  width: 40px;
  display: inline-block;
  margin: 27px 9px;
}
.main-content .marketplace:hover,
.main-content .marketplace.hover {
  cursor: pointer;
}
.main-content .prices-traders:hover,
.main-content .prices-traders.hover {
  cursor: pointer;
}
.main-content .company:hover,
.main-content .company.hover {
  cursor: pointer;
}
/* Пoдлoжкa */
#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.section:hover .st0 {
  fill: #869316;
}

.green-href {
  color:#869615;
}
.green-href:hover {
  color: #306328;
  text-decoration: none;
}
.green-href:focus {
  color: #306328;
  text-decoration: none;
}
.prices-update {
  color: #5b6171;
  line-height: 1;
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
}
.lots-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width:90%;
  margin: auto;
  margin-top: 30px;
}
.lots-container h2{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  color: #306328;
  margin-bottom: 25px;
  position: relative;
}
.lots-container .lots-block {
  border: 1px solid #ecf1f5;
  min-height: 330px;
  margin: 0 11.4px 12.4px 0;
  min-width: 280px;
  width: 27vw;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  padding-bottom: 20px;
}
.lots-container .lots-block:hover {
  border: 0.125em solid rgba(55, 115, 48, 0.2);
}
.lots-container .lots-block:nth-child(4) {
  margin-right: 0;
}
.lots-container .lots-block .lots-image {
  display: block;
  width: 25%;
  margin: 20px auto 0 auto;
}
.lots-container .lots-block .lots-text p {
  margin-bottom: 0;
}
.lots-container .lots-block .lots-text .lots-title-container {
  height: 30%;
  padding: 3px;
}
.lots-container .lots-block .lots-text .lots-title-container .lots-title {
  text-align: center;
  margin-top: 5px;
  color: #377330;
  font-weight: 600;
  font-size:100%;
  white-space: normal;
}
.lots-container .lots-block .lots-text .lots-region {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.lots-container .lots-block .lots-text .lots-date {
  text-align: center;
  color: #5b6171;
  font-size: 13px;
}
.lots-container .lots-block .lots-text .lots-info {
  text-align: center;
  margin-top: 10px;
  position: relative;
  width: 100%;
  top: 5%;
}
.browseBtn {
  background-color: #869615;
  color: #fff;
}

.browseBtn > span {
  font-size: 13px;
}

.gallery-corn > a:hover,
.gallery-corn > a:focus {
  text-decoration: none;
}

.fileinput-remove {
  margin: 0 !important;
  margin-right: 20px !important;
  background: transparent !important;
  min-width: 0 !important;
  font-size: 22px !important;
}
#chekin-block {
  margin: 0 auto;
}
#chekin-content-block {
  margin: 0 auto;
}
#formPassword {
  width: auto;
  min-width: inherit;
  max-width: inherit;
}
#imageCropperDialog .img-container #preparedImgForCropping {
  max-width: 100%;
}
#imageCropperDialog #imageCropperSaveBtn {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  border-radius: 58px;
  height: 41px;
  background: #869615;
  font-weight: 600;
  font-size: 13px;
  border: 0;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
.company .container {
  width: 92%;
  padding:0;
}
#pricesTabs a {
  color: #5b6171;
}
#pricesTables select {
  width:120px;
}
#pricesTables .select2-selection__rendered, .select2-results__option {
  font-size: 13px;
}
#pricesTabs .active {
  color: #2e6228;
  outline: none;
}
#regionSelectDiv {
  height: 35px;
  margin-bottom: 20px;
}
#regionSelectDiv .select2-container {
  width: 100% !important;
  font-size: 13px;
  font-weight: 700;
}
#regionSelectDiv span {
  font-size: 13px;
  font-weight: 700;
}
#regionSelectDiv .select2-selection__rendered {
  padding-left: 9%;
  padding-top: 3px;
}
#regionSelectDiv .select2-selection {
  height: 100%;
}
#regionSelectDiv .select2-selection__arrow {
  height: 100%;
}
.intl-tel-input {
  width: 100%;
}
.flag-container {
  height: 45px;
}
/******* RESPONSIVE */
@media handheld, only screen and (max-width: 1365px) {
  .main-banners {
    display: block;
    padding: 15px;
  }
  .main-banners-item {
    width: 100%;
    float: none;
  }
  .main-banners-item {
	  margin-bottom: 20px;
  }
  .main-banners-item:last-child {
    margin-bottom: 0;
  }
}
